/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}

span.short-heading{
  float     : right;
  border    : 1px solid black;
  width     : 100px;
  text-align: center;
}

.bg-color-beige{
  background-color: beige;
}

.bg-color-pinkish{
  background-color: #f45c41;
}

.bg-color-blueish{
  background-color: #b3ffe6;
}
span{
  display: block;
}

p {
  border: 1px solid black;
  background-color: grey;
  height: 150px;
  margin-right : auto;
  margin-left  : auto;
  font-family  : Helvetica;
  color        : black;
  border       : 1px solid black;
  padding-left : 10px;
  margin-top   : 0px;
  margin-bottom: 0px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding: 10px;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    padding: 10px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

}


/********** Mobile devices only **********/
@media (min-width: 99px) and (max-width: 767px) {
  .col-md-4, .col-md-6,.col-md-10, .col-md-11, .col-md-12, 
  .col-sm-1 {
    float: left;
    padding: 5px;
    margin: 5px;
  }
}



